{% extends "header.html" %}

{% block body%}

<div class="container" style="margin-top: 3%"> 

    <h1>500 -- Internal Server Error</h1>

    <p>Ooops! Something broke, sorry about that!</p>
    <p><code>{{error}}</code></p>

    <a href="javascript:history.go(-1)"><button type="button" class="btn btn-outline-dark">Go Back!</button></a>
    
</div>

<img src="{{ url_for('static', filename='images/pizzacat.gif') }}" width="35%" class="fixed-bottom" style="float: right">

{% endblock %}