{% extends "header.html" %}

{% block body %}

<head>
    <style>
    
        p {
            text-align: justify;
            text-indent: 2em;
        }
        
    </style>
</head>

<body>
        <br>
        <div class="container">
            <center><h3>About</h3></center>
            <br>
            <p>
                    This project was created for DIGIT 400, a senior class at Pennsylvania State Erie, The Behrend College for a final project.
                    This website is for current or new students who have questions about college. 
                    Students can create an account with their psu email and post to the dashboard asking questions that they have. 
            </p>
            <p>
                    As a student in college, you are welcome to create an account to ask questions to other students. 
                    As a user, posts will be moderated so please refrain from using foul language. Respect other's questions and do not be rude if you are 
                    answering questions for other students. 
                    Your responsibilities as a user are to use this environment as if it were a professional gathering. If a user is violating these rules, they will be removed from the site. 
            </p>
            <p>
                    Please be sure to read through the Terms of Service page before you register an account. &nbsp;
                    <a href="/tos/"><button type="button" class="btn btn-outline-primary">View the Terms of Service Page</button></a>
            </p>
            
            <p><br></p>
            <p><br></p>
            <p><br></p>
            <p><br></p>
            <p><br></p>
            <p><br></p>
            
        </div>
</body>


{% endblock %}