{% extends "header.html" %}

{% block body %}

<head>
    <style>
    
        p {
            text-align: justify;
            text-indent: 2em;
            font-size: 12pt;
        }
        
        .para {
            text-align: justify;
            font-size: 12pt;
        }
        
    </style>
</head>

<body>
    <br>
        <div class="white">
            <br> <!-- THIS IS WHAT IS KEEPING THE WHITE CONTAINER SLIGHTLY SEPTERATE FROM THE TOP! -->
        <div class="container">
            <center><h3>About</h3></center>
            <br>
            <p>
                    This project was created for DIGIT 400, a senior class at Pennsylvania State Erie, The Behrend College for a final project.
                    This website is for current or new students who have questions about college. 
                    Students can create an account with their psu email and post to the dashboard asking questions that they have. The purpose for the creation of this
                    site is because there is currently no place where students can go online to ask questions about college. This site was created in hopes of creating
                    a community where students can go to ask questions without having to go into an office and speak to someone when they are already nervous about college.
                    
            </p>
            <p>
                    As a student in college, you are welcome to create an account to ask questions to other students. 
                    As a user, posts will be moderated so please refrain from using foul language. Respect other's questions and do not be rude if you are 
                    answering questions for other students. 
                    Your responsibilities as a user are to use this environment as if it were a professional gathering. If a user is violating these rules, they will be removed from the site. 
            </p>
            <p>
                    The future plans for this website include creating a profile for users, a messaging option inside the website, and the ability to share media 
                    on posts with other students. The goal is to get users to use the site enough that it becomes a community where students enjoy coming to discuss about
                    college and questions that they have. 
            
            </p>
            <br>
            <!-- THE BOTTOM PART OF THE ABOUT PAGE -->
                <div class="para">
                    <center>
                        <h5>Please be sure to read through the Terms of Service page <u><i>before</i></u> you <a href="/register/">register</a> an account.</h5>
                        <br>
                        <a href="/tos/"><button type="button" class="btn btn-outline-primary">View the Terms of Service Page</button></a>
                    </center>
                </div>
            <br>
            <hr>
            <br>
                <div class="para">
                    <center>
                        <h5>Interested in the code? Check it out on my github account!</h5>
                        <br>
                        <a href="https://github.com/kaylyn88/DIGIT_400_Project_2019" target="_blank">
                        <button type="button" class="btn btn-outline-primary">Github for Student Forum</button></a>
                    </center>
                </div>
            <br> <!-- THIS IS WHAT IS KEEPING THE WHITE CONTAINER FULLY TO THE BOTTOM! -->
        </div>
    </div>
</body>


{% endblock %}