{% extends "header.html" %}

{% block body %}

<head>
    <style>
    
        p {
            text-align: justify;
            text-indent: 2em;
        }
        
    </style>
</head>

<body>
        <br>
        <div class="container">
            <h3>About</h3>
            <br>
            <p>
                    This project was created for DIGIT 400, a senior class at Pennsylvania State University for a final project.
                    This website is for current or new students who have questions about college. 
                    This is a forum to allow students to create an account to ask questions about college life, 
                        or even answer for the benefit of other students.
                    
                    
                    
            </p>
        </div>
</body>


{% endblock %}