<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
        <meta charset="utf-8">
    <!-- This tag is completely required. -->
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <!-- Favicon -->
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/StudentForumFavicon.gif') }}">
    <title>Student Forum</title>
    <!-- JavaScript Model Code -->
    <script>
        $('#myModal').on('shown.bs.modal', function () {
            $('#myInput').trigger('focus')
        });
    </script>
      
    <!-- Google Analytics Code -->
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-136620157-1"></script>
        <script>
          window.dataLayer = window.dataLayer || [];
          function gtag(){dataLayer.push(arguments);}
          gtag('js', new Date());

          gtag('config', 'UA-136620157-1');
        </script>

    <!-- GOOGLE MATERIAL ICONS -->
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- CSS Style Sheet -->
        <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}" type="text/css">
      
  </head>
  <body>
      
      
        <!-- Nav Bar from BootStrap -->
                <nav class="navbar navbar-expand-lg navbar-light bg-light">

            <!-- This is the logo for the site -->
                <a class="navbar-brand" href="/">
                    <img src="{{ url_for('static', filename='images/StudentForumLogo.png') }}" width="50" alt="main logo for digit 400 project site">
                </a>
            <!-- End logo -->

                <a class="navbar-brand" href="/" id="MainTitle">Student Forum</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                <div class="collapse navbar-collapse" id="navbarNav"> <!-- This makes hamburger when small -->
                    <ul class="navbar-nav">
                        <li class="nav-item active">
                            <a class="nav-link" href="/"><i class="material-icons">home</i>Home <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/about/"><i class="material-icons">group</i>About</a>
                        </li>
                        {% if session.logged_in %}
                        <li class="nav-item">
                            <a class="nav-link" href="/message/"><i class="material-icons">dashboard</i>Dashboard</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#" data-toggle="modal" data-target="#logoutmodal"><i class="material-icons">cancel</i>Logout</a>
                        </li>
                        {% else %}
                        <li class="nav-item">
                            <a class="nav-link" href="#" data-toggle="modal" data-target="#exampleModalCenter"><i class="material-icons">face</i>Login</a>
                        </li>
                        {% endif %}
                    </ul>
                </div>
            </nav>

        <!-- END Nav Bar-->
      
      <!-- Flashes! -->
            <div class="container-fluid">
      
                {% with messages = get_flashed_messages() %}
                
                    {% if messages %}

                        {% for message in messages %}
                        
                        <div class="alert alert-warning alert-dismissible fade show" role="alert">
                            {{message}}
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                
                        {% endfor %}

                    {% endif %}
                
                {% endwith %}
        
            </div>

    <!-- Template Content --> 

        <div class="container-fluid" style="min-height: 100%">

            {% block body %}

            {% endblock %}

        </div>
      
    <!-- Footer Content -->
    <!-- Copyright -->
      
        <center>
            <div class="footer">
                <br>
                <br>
                © 2019 Student Forum
                <br>
            
            </div>
        </center>

    

    <!-- END Template Content -->
      
    <!-- Modal LOGIN -->
        <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Login</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                    <br>
                    <form action="#" method="post">

                        <input type="text" class="form-control" placeholder="User Name" name="username" value="{{request.form.username}}">
                        &nbsp;
                        <input type="password" class="form-control" placeholder="Password" name="password" value="{{request.form.password}}">
                        &nbsp;
                        <br>
                        <input class="btn btn-primary" type="submit" value="Login">

                    </form>
                    <br>
                    <p><code>{{ error }}</code></p>
                  <hr>
                    <p>Hello, do you need an account? <a href="/register/" style="text-decoration: none;">Register here!</a></p>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>
    <!-- End Modal LOGIN -->
      
    <!-- Modal LOGOUT -->
        <div class="modal" tabindex="-1" role="dialog" id="logoutmodal">
          <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
              <div class="modal-body">
                <form action="#" method="get">
                    <br>
                    <h6>Are you sure you want to logout?</h6>
                    <br>
                </form>
              </div>
              <div class="modal-footer">
                <br>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary"><a href="/logout/" style="text-decoration: none; color:white;">Logout</a></button>
              </div>
            </div>
          </div>
        </div>
    <!-- End Modal LOGOUT -->
      
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
  </body>
</html>