{% extends "header.html" %}

{% block body %}

    <br>

    <!--<nav class="navbar navbar-expand-lg navbar-light bg-light"> 
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-item nav-link active" href="/message/">Message Board <span class="sr-only">(current)</span></a>
          <a class="nav-item nav-link" href="#">Features</a>
        </div>
      </div>
    </nav>-->
    <body>
    <div class="white">
        <div class="container">
            <br> <!-- THIS IS WHAT IS KEEPING THE WHITE CONTAINER SLIGHTLY SEPTERATE FROM THE TOP! -->
            <center><h3>Message Board</h3></center>
            <br>
            <div class="container">
                <div class="row">
                    <div class="col"></div>
                    <div class="col-6">
                        <form action="#" class="form-inline" method="post">
                              <div class="row">
                                <div class="col">
                                  <input type="text" class="form-control" placeholder="Topic name.." name="topic" value="{{request.form.topic}}">
                                    <p><i>Add an <strong>RE:</strong> to reply to a topic.</i></p>
                                </div>
                                <div class="col-6">
                                  <input type="text" class="form-control" placeholder="Leave a message.." name="message" value="{{request.form.message}}">
                                </div>
                                <div class="col">
                                  <input class="btn btn-primary" type="submit" value="Submit">
                                </div>
                              </div>
                        </form>
                    </div>
                    <div class="col"></div>
                </div>

            <br>
            <ul>
                {% for inx, name, topic, message in content%}

                <div class="alert alert-primary" role="alert">
                    <div class="container">
                        <div class="row">
                            <div class="col">
                                <h3 style="color: black;"><i>{{topic}}</i></h3>
                            </div>
                            <div class="col">
                                <h5 style="font-weight: bold; text-align: right;">User: {{name}}</h5>
                            </div>
                          </div>
                    </div>
                    <br>
                    <h6 style="color: black; line-height: 2; text-indent: 1em; text-align: justify;">{{message}}</h6>
                </div>

                {% endfor %}
            </ul>
            </div>
            <br> <!-- THIS IS WHAT IS KEEPING THE WHITE CONTAINER FULLY TO THE BOTTOM! -->
        </div>
    </div>
    </body>
{% endblock %}