{% extends "header.html" %}

{% block body %}

    <body>
        <div class="container" id="reg_form">
            <br>
            <center><h3 id="color">Register</h3>
            <br>
            {% from "formhelpers.html" import render_field %}
            
            <form method="post" action="/register/">
            <dl id="color">
                {{render_field(form.username)}}
                {{render_field(form.email)}}
                {{render_field(form.password)}}
                {{render_field(form.confirm)}}
                {{render_field(form.accept_tos)}}
                <a href="/tos/"><button type="button" class="btn btn-outline-primary">View the Terms of Service Page</button></a>
                <br>
                <br>
                <p><input type="submit" value="Register"></p>
                
                
                {% if error %}
                
                <p class="error"><strong>Error: </strong>{{error}}</p>
                
                {% endif %}
            </dl>
            </form></center>
        </div>
    </body>

{% endblock %}