{% extends "header.html" %}

{% block body %}

<head>
<style>
    
    a {
        color: #2E148C;
    }
    
    a:hover{
        color: skyblue;
        text-decoration: none;
    }
    
</style>
    
</head>
    <body>
        <div class="container" id="reg_form">
            <br>
            <h3>Register</h3>
            <br>
            {% from "formhelpers.html" import render_field %}
            
            <form method="post" action="/register/">
            <dl>
                {{render_field(form.username)}}
                {{render_field(form.email)}}
                {{render_field(form.password)}}
                {{render_field(form.confirm)}}
                {{render_field(form.accept_tos)}}
                <a href="/tos/"><button type="button" class="btn btn-outline-primary">View the Terms of Service Page</button></a>
                <br>
                <br>
                <br>
                <p><input type="submit" value="Register"></p>
                
                
                {% if error %}
                
                <p class="error"><strong>Error: </strong>{{error}}</p>
                
                {% endif %}
            </dl>
            </form>
        </div>
    </body>

{% endblock %}